.footer {
  background-color: #f35a63;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-top: 50px;
  padding: 10px;
}
.name,
.phone,
.address {
  display: flex;
  align-items: flex-start;
  color: white;
  margin-left: 1000px;
}
img {
  width: 20px;
  height: 23px;
  margin-right: 10px;
}
.ic_add {
  width: 20px;
  height: 28px;
}
